.title {
  text-align: center;
}
.buttonBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}
.button {
  width: 200px;
  height: 100px;
  font-weight: 700;
  padding: 10px;
  color: rgb(62, 62, 63);
  background-color: #fff;
  border-radius: 5px;
  border: 0.5px solid rgb(62, 62, 63);
}
.button:hover {
  background-color: rgb(233, 233, 233);
  cursor: pointer;
}
