.selectionMenuBox {
  height: 100%;
  display: grid;
  justify-content: center;
}
.buttonsBox {
  display: grid;
  align-items: top;
  gap: 4rem;
  grid-template-columns: repeat(2, 1fr);
  /* margin-top: 50px; */
}
.button {
  width: 200px;
  height: 100px;
  font-weight: 700;
  padding: 10px;
  color: rgb(62, 62, 63);
  background-color: #fff;
  border-radius: 5px;
  border: 0.5px solid rgb(62, 62, 63);
}
.button:hover {
  cursor: pointer;
  background-color: rgb(233, 233, 233);
}
